@media (max-width: 768px) {
  li {
    list-style-type: none;
  }
  
  .nav-menu {
    display: flex;
  }
  
  .menu-container {
    display: flex;
  }
  
  .total-world-container {
    display: flex;
    border: 1px solid red;
  }

  .country-lists-container {
    border: 1px solid blue;
    padding: 0;
  }

  .card-img-container {
    display: flex;
  }

  .country-card {
    width: 50%;
    border: 1px solid black;
  }

  .country-details {
    display: flex;
    flex-direction: row;
  }
}
