@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  width: 100vw;
  color: white;
}

@media (max-width: 768px) {
  li {
    list-style-type: none;
  }

  .nav-menu {
    display: flex;
    background-color: #3c5e9c;
    font-size: 12px;
    justify-content: space-between;
    padding: 10px;
  }

  .menu-li {
    width: 20%;
  }

  .logo {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .menu-date {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .mic-button,
  .settings-button {
    margin-left: auto;
    background-color: transparent;
    border: none;
    margin-left: auto;
  }

  .mic-img {
    margin-right: 10px;
  }
  
  .menu-container {
    display: flex;
    align-items: center;
    width: 60%;
  }
  
  .total-world-container {
    display: flex;
    background-color: #5586e3;
    margin: 0;
    align-items: center;
  }

  .country-lists-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
  }

  .card-img-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .home-total-img {
    width: 120px;
    height: 120px;
    margin: 20px 30px 20px 0;
    padding: 0;
  }

  .info-card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    text-align: end;
  }

  .card-title {
    font-size: 18px;
    margin: 2px;
  }

  .card-cases {
    font-size: 14px;
    margin: 2px 2px 10px 2px;
  }

  .card-img {
    width: 110px;
    height: 110px;
    margin: 12px 25px 0 35px;
  }

  .go-img {
    padding: 0;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }

  .go-button {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
  }

  .country-details {
    display: flex;
    flex-direction: row;
    background-color: #385791;
  }

  .stats-title {
    margin: 0 0 -16px 0;
    background-color: #4470c0;
    padding: 10px;
  }
}
