@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  width: 100vw;
  color: white;
}

@media (max-width: 768px) {
  li {
    list-style-type: none;
  }
  
  .nav-menu {
    display: flex;
  }
  
  .menu-container {
    display: flex;
  }
  
  .total-world-container {
    display: flex;
    border: 1px solid red;
  }

  .country-lists-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
  }

  .card-img-container {
    display: flex;
  }

  .country-card {
    background-color: #4369b0;
  }

  .country-details {
    display: flex;
    flex-direction: row;
  }
}
